{% extends "movies/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link href="{% static 'style.css' %}" rel="stylesheet" >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}به سایت گاموس ها خوش آمدید{% endblock %}</title>
    
    
</head>
<body>
    {% block content %}
        <div class="box">
            <h1>سلام جاموس</h1>
            <h2>اگه جوبو جوبوی من دوسم داره با این شماره تماس بگیره:</h2>
            <h3>Phone Number:</h3>
            <p>+989361970108</p>
            
        
        </div>

        <div class="pic">
            {% load static %}
                <img src= "{% static 'movies/Behnam.jpg' %}" alt="my picture" width="200" >
                <img src= "{% static 'movies/Bahar.jpg' %}" alt="bahar picture" width="200">
        </div>
        
    {% endblock %}        
    


</body>
</html>