{% extends "movies/base.html" %}
<!DOCTYPE html>
<html>
    {% block title %} Contact Me {% endblock %}

    <body>
        <h1>Contact Me For more Debates...</h1>
    
        {% comment %} {% block sidebar %}
        <ul>
            <h3>Contact page is showing</h3>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'contact' %}">Contact Me</a></li>
            <li><a href="{% url 'movies' %}">Click to see my Favorite Movies</a></li>
        </ul>
        {% endblock %} {% endcomment %}



    
        {% block content %}
            <div name="about">
            <h3>Phone Number:</h3>
            <p>+989361970108</p>

            <h3>Instagram:</h3>
            <p>@behnam.7924</p>

            <h3>Telegram:</h3>
            <p>@Behnam7924</p>

            {% load static %}
            <img src= "{% static 'movies/Behnam.jpg' %}" alt="my picture" width="200" >
            </div>
        {% endblock %}
    



    </body>
</html>