body{
    min-height: 500px;
    background-color: rgb(14, 14, 37);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

div{
    
    max-width: 300px;
    margin:0 auto;
    text-align: center;
    padding: 2em;
    width: 100%;
    border-radius: 12px;
    background-color: #1c1f2b;
    position: relative;
    box-sizing: border-box;

}
@property --angle{
     syntax: "<angle>";
     initial-value: 0deg;
     inherits: false    ;
}
div::after , div::before{
    
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle) , transparent 70% , tomato , rgb(93, 254, 93) , rgb(0, 89, 255) , pink , tomato);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 12px;
    animation: spin 6s linear infinite;


}

div::before{
    filter: blur(1.5rem);
}

@keyframes spin{
    from{
        --angle:0deg

    }
    to{
        --angle:360deg

    }
}


div > h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color:cyan;
    

}
div > h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color:darkorange;
    

}
div > h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color:white;
    

}

div > p{
    color: bisque;
    display: flex;
    overflow: hidden;
    font-size: 12pt;
    text-align: center;
    font-style: italic;

}

div > img {
    padding: 5px;
    

}

li {
    color: salmon;
}

a{
    color: bisque;
}

h1{
    color: gold;
}